@model IEnumerable<Assignment_1_API.Models.Order>

@{
    ViewData["Title"] = "Order List";

    string staffname = ViewData["staffName"] as string;
    DateTime startOrderDate = DateTime.Now;
    if (ViewBag.startOrderDate != null)
    {
        startOrderDate = ViewBag.startOrderDate;
    }
    DateTime endOrderDate = DateTime.Now;
    if (ViewBag.endOrderDate != null)
    {
        endOrderDate = ViewBag.endOrderDate;
    }


    // string endOrderDate = ViewData["endOrderDate"] as DateTime as DateTime;
}

<h1>Order List</h1>

<p>
    <a asp-action="Create" asp-route-StaffId="@ViewData["StaffId"]">Create New</a>
</p>
<form method="post" asp-action="Index">
    <input type="hidden" name="StaffId" value="@ViewData["StaffId"]" />
    <table>
        <tr>
            @*  <input asp-for="OrderDate" type="datetime-local" name="OrderDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" /> *@
            <td>Order Date</td>
            <td><input type="date" name="startOrderDate" value="@startOrderDate.ToString("yyyy-MM-dd")" /></td>
        </tr>

        <tr>
            <td>Staff Name</td>
            <td><input type="text" name="staffName" value="@ViewData["staffName"]" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="search" value="Search" /></td>
        </tr>
    </table>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId" asp-route-StaffId="@ViewData["StaffId"]">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId" asp-route-StaffId="@ViewData["StaffId"]">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId" asp-route-StaffId="@ViewData["StaffId"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* @Html.DisplayFor(modelItem => item.OrderDate) *@

@* @item.OrderDate.ToShortDateString() *@
