@model IEnumerable<Assignment_1_API.Models.Staff>

@{
    ViewData["Title"] = "Index";
    int userRole = 0; // Default to 0 (no access)

    
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<p>
    <form asp-action="Index" asp-controller="Staff">
        Name: <input type="text" name="pName" />
        <input type="submit" value="Search" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>
                    }
               
            </td>
            
        </tr>
}
    </tbody>
</table>
